// Place all the styles related to the users_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  *= require bootstrap/dist/css/bootstrap
  *= require surface-fix
  *= require navbar
  *= require font-awesome/css/font-awesome
  */

  h3.panel-title div {
    display: inline;
  }